<html lang="es">

<head>
  <meta charset='utf-8'>
  <script src='js/d3.min.js'></script>
  <link rel='stylesheet' type='text/css' href='css/style.css'>
  <title>graph database page</title>
</head>

<body>
  <!-- info-panel -->
  <div id="info-panel" class="info-panel">
    <p style="text-align: right;"><a href="javascript:void(0)" onclick="closeInfoPanel()">X</a></p>
  </div>

  <!-- input-query -->
  <div id="input-panel" class="input-panel">
    <label for="input-query"></label><input type="text" id="input-query" name="input-query" class="input-query" onkeydown="return input_nl_query(event)">
  </div>

  <!-- query-result -->
  <div id="query-result-panel" class="query-result-panel"></div>
  <script src='js/main.js' type='module'></script>
</body>

<script>
  function openInfoPanel() {
    document.getElementById("info-panel").style.display = "block";
  }

  function closeInfoPanel() {
    document.getElementById("info-panel").style.display = "none";
  }

  function input_nl_query(e) {
    // when `enter` clicked
    if (e.keyCode !== 13) return;

    let query_str = document.getElementById("input-query").value;

    let formData = new FormData();
    formData.append("query_str", query_str);
    console.log(query_str);

    // get resp from backend
    const req = new XMLHttpRequest();
    req.open("POST", "http://127.0.0.1:5000/nl_query", true);
    req.send(formData);

    req.onreadystatechange = function() {
      if (req.readyState === 4 && req.status === 200) {
        //  response
        // 按理说应该是返回高亮的node和link列表
        const json = req.responseText;

        const resp = JsonStrToMap(json);
        const query_results = resp.get("query_results");
        query_results.forEach(result => {
          query_str = result["query_str"];
          const nodes = result["query_records"]["nodes"];
          const links = result["query_records"]["links"];
          console.log(query_str);
          console.log(nodes);
          nodes.forEach(nodeId => {
            console.log(nodeId);
            const node = document.getElementById("node-" + nodeId);
            d3.select(node)
              .transition()
              .attr("fill", "black")
              .attr("r", ({
                index: i
              }) => 20);
            console.log(node);
          });
          console.log(links);
        });

        console.log(json);
        console.log(resp);
      }
    };
  }

  function ObjToMap(obj) {
    const map = new Map();
    for (let key in obj) {
      map.set(key, obj[key]);
    }
    return map;
  }

  function JsonStrToMap(str) {
    return ObjToMap(JSON.parse(str));
  }

  function p(a) {
    console.log(a);
  }
</script>

</html>